.wrapper {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: white;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.18);
  border-radius: 15px;
  padding: 30px;
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}